- attributes_table_for @kyu_entry do
  %table
    %tr
      %th KYU Entry ID:
      %td= @kyu_entry.id

    %tr
      %th Subject:
      %td= @kyu_entry.subject

    %tr
      %th Content:
      %td= @kyu_entry.content

    %tr
      %th Publish At:
      %td= @kyu_entry.publish_at

    %tr
      %th Slug:
      %td= @kyu_entry.slug

    %tr
      %th Deleted At
      %td= @kyu_entry.deleted_at

