- comments.each do |comment|
  #comments
    #comment
      #comment_image
        = image_tag avatar_url(@user.find(comment.user_id), 70)
      #comment_body
        #text
          =simple_format(comment.comment)
      #comment_email
        by
        = @user.find(comment.user_id).email
        on
        = comment.created_at.to_date.strftime('%B %e, %Y')
      #comment_edit
        - if current_user.id == comment.user_id
          = link_to image_tag("comment_edit.png"), edit_kyu_entry_comment_path(@kyu_entry, comment)
          = link_to image_tag("comment_delete.png"), kyu_entry_comment_path(@kyu_entry, comment), confirm: 'Are you sure you want to delete this comment?', method: :delete
        - else
          %br
    %br

