- user = comment.user
#comments.comment_box
  .comment{:id=>"#{comment.id}"}
    #comment_image
      = image_tag avatar_url(user, 70)
    #comment_body
      #text
        =simple_format(comment.comment)
    #comment_email
      by
      = link_to user.display_name, controller: "comments", action: "user_comment", id: comment.user_id
      = timeago_date_format(comment.created_at)
    #comment_edit
      - if current_user == comment.user
        = link_to image_tag("edit-pencil-icon.gif"), edit_post_comment_path(post, comment)
        = link_to image_tag("cross.png"), post_comment_path(post, comment), method: :delete, confirm: "Are you sure?", remote: true
      - else
        %br
    %br