- comments.each do |comment|
  #comments
    .comment{:id=>"#{comment.id}"}
      #comment_image
        = image_tag avatar_url(user.find(comment.user_id), 70)
      #comment_body
        #text
          =simple_format(comment.comment)
      #comment_email
        by
        - if user.find(comment.user_id).name
          = link_to user.find(comment.user_id).name.titleize, controller: "comments",
                                          action: "user_comment", id: comment.user_id
        - else
          = link_to user.find(comment.user_id).email, controller: "comments",
                                          action: "user_comment", id: comment.user_id
        = timeago_tag comment.created_at, nojs: true, limit: 30.days.ago
      #comment_edit
        - if current_user.id == comment.user_id
          = link_to image_tag("edit-pencil-icon.gif"), edit_kyu_entry_comment_path(kyu_entry, comment)
          = link_to image_tag("cross.png"), kyu_entry_comment_path(kyu_entry, comment ), method: :delete, remote: true
        - else
          %br
    %br

