%h1 Edit Comment
%h4 Post: #{@comment.post.subject}
= form_for([:post,@comment], html: { class: :form, id: "formID" }) do |f|
  .group
    = f.hidden_field :user_id, {value: current_user.id }
  .group
    = f.text_area :comment, class: 'comment_field validate[required] text-input'
    %br
    = f.submit "Update"
    = button_to_function "Cancel", "history.back()"
