.block
  .secondary-navigation
    %ul.wat-cf
  .content
    %h2.title
      - if @user.name
        All comments by #{@user.name.titleize}
      - else
        All comments by #{@user.email}
    .inner
      %table.table
        %tr
          %th Comment
          %th PostsEntry Subject
          %th Date
        - @comments.each do |comment|
          - kyu_entry = comment.kyu_entry
          %tr{class: cycle("odd", "even")}
            %td{class: "special"}
              = comment.comment
            %td
              = link_to truncate(kyu_entry.subject, length: 70), kyu_entry_path(kyu_entry)
            %td
              = timeago_date_format(comment.created_at)
