.group
  = f.label :subject, t("activerecord.attributes.post.subject", default: "Subject"), class: :label
  = f.text_field :subject, class: 'text_field validate[required] text-input'
.group
  = f.label :content, t("activerecord.attributes.post.content", default: "Content"), class: :label
  = f.text_area :content, class: 'text_area validate[funcCall[checkContent]]', id: 'textarea_kyu_content'
  = f.hidden_field :user_id, { value: current_user.id }
  = f.hidden_field :id, { value: post.id }
// ATTACHMENTS
.group
  = f.label :content, t("activerecord.attributes.post.content", default: "Attachments"), class: :label
  - if params[:new_post].present?
    = render "newform"
  - elsif params[:edit_post].present?
    = render "editform"
    #kyu_attachment
      - post.attachments.each do |a|
        = render "attachments", a: a
  %input#kyu_id{ name: "post_id", type: "hidden", value: post.id }

// TAGS
.group
  %input#attachments_field{ name: "attachments_field", type: "hidden", value: "" }
  = f.label :tag, class: :label
  = f.autocomplete_field :tag_list, autocomplete_tag_name_posts_path, :"data-delimiter" => ', ', class: 'text_field'

//BUTTONS
.group.navform.wat-cf
  %a.button{href: "#", rel: "facebox", id: "previewlink", class: "text_button_padding link_button"} Preview
  %span.text_button_padding= t("web-app-theme.or", default: "")
  = button_tag class: "button btn_kyu_save", type: "submit" do
    = image_tag("web-app-theme/icons/tick.png", alt: "#{t("web-app-theme.save",
      default: "Save")}")
    = t("web-app-theme.save", default: "Save")
  %span.text_button_padding= t("web-app-theme.or", default: "or")
  = link_to t("web-app-theme.cancel", default: "Cancel"), "#", class: "text_button_padding link_button", id: 'kyu_cancel'
%div#draft
