.group
  %div#draft2
    %div.draft
.group
  = f.label :subject, t("activerecord.attributes.post.subject", default: "Subject"), class: :label
  = f.text_field :subject, class: 'text_field validate[required] text-input'
.group
  = f.label :content, t("activerecord.attributes.post.content", default: "Content"), class: :label
  = f.text_area :content, class: 'text_area validate[funcCall[checkContent]]', id: 'textarea_post_content'
  = f.hidden_field :user_id, { value: current_user.id }
  = f.hidden_field :id, { value: post.id }
// ATTACHMENTS
.group
  = f.label :content, t("activerecord.attributes.post.content", default: "Attachments"), class: :label
  - if params[:new_post].present?
    = render "new_attachment"
  - elsif params[:edit_post].present?
    = render "edit_attachment"
    #post_attachment
      - post.attachments.each do |a|
        = render "attachments", a: a
  %input#post_id{ name: "post_id", type: "hidden", value: post.id }

// TAGS
.group
  %input#attachments_field{ name: "attachments_field", type: "hidden", value: "" }
  = f.label :tag, class: :label
  = f.autocomplete_field :tag_list, autocomplete_tag_name_posts_path, :"data-delimiter" => ', ', class: 'text_field'

//BUTTONS
.group.navform.wat-cf
  %span
    // Preview Button
    %a.button{href: "#", rel: "facebox", id: "previewlink", class: "text_button_padding link_button"} Preview

    // Save as Draft Button
    - if f.object.new_record? || f.object.is_draft
      = button_tag id: "save_as_draft_button", class: "draft_button button text_button_padding", type: "button" do
        = content_tag(:div,"Save as Draft",class: "draft_button", id: "save_as_draft")
        .draft_button#loading
          = image_tag "loading.gif"
          = "Saving..."

    // Publish button
    = button_tag class: "button btn_post_save", type: "submit" do
      = image_tag("web-app-theme/icons/tick.png", alt: "#{t("web-app-theme.save",
        default: "Save")}")
      = t("web-app-theme.save", default: "Publish")

    // Cancel Button
    = link_to 'Cancel', '#', id: "post_cancel", class: "post_cancel button text_button_padding"
  %div.draft
