#kyu-edit-back-link
  - if current_user == post.user
    = link_to 'Edit', edit_post_path(post, edit_post: true), id: 'edit_entry' , remote:true
    \|
    = link_to 'Delete', post_path(post), confirm: 'Are you sure you want to delete this Post?', method: :delete
#kyu-post
  #kyu-header
    .contributor_pic
      = image_tag avatar_url(post.user, 70)
    .postDetails
      = timeago_date_format(post.created_at)
  #kyu-details
    #kyu-subject
      = post.subject
    #kyu-content
      .kyuContent
        = raw RedCloth.new(post.content).to_html
      #right
        .rightCorner
#kyu-attachment
  - unless post.attachments.blank?
    %h3 Attachments
    - post.attachments.each do |a|
      #attach-content
        - if a.post_content_type.split("/")[0] == "image"
          = link_to(image_tag(a.post.url(:thumb), title: a.post_file_name), a.post.url, target: "_blank")
        - else
          = link_to(image_tag("doc.png", title: a.post_file_name), a.post.url, target: "_blank")
    %br
#tag_head
  - unless post.tag_list.blank?
    %h3 Tags
    -# Added on 21st April 2012 by yatish to display tags
    -# Start
    #kyu-content
      - if current_user == post.user
        .kyuContent{post_id: post.id}
          - post.tag_list.each do |tag|
            %span#kyu-tag
              = tag
      - else
        .kyuContent
          - post.tag_list.each do |tag|
            %span#kyu-tag-els
              = tag
    -# End
%br
#comment_head
  %h3 Post Your Comment
  = render "comments/form", post: post
  %br
  %br
= render partial: "comments/comments", locals: { comments: post.comments.order("comments.created_at DESC"), post: post }
%input#kyu_slug{ name: "kyu_slug", type: "hidden", value: post.slug }
