#post-edit-back-link
  - if current_user == post.user
    = link_to 'Edit', edit_post_path(post, edit_post: true), id: 'edit_entry' , remote:true
    \|
    = link_to 'Delete', post_path(post), method: :delete, data: { confirm: 'Are you sure you want to delete this Post?' }
#post-post
  #post-header
    .contributor_pic
      = image_tag avatar_url(post.user, 70)
    .postDetails
      = timeago_date_format(post.publish_at || post.created_at)

    - unless post.is_draft
      .voterDetails
        .up_rate
          %span
            %i.fa.fa-thumbs-o-up.fa-2x{ id: 'like', class: voted(current_user, post, 'up') }
            .vote= post.get_likes.size
        .down_rate
          %span
            %i.fa.fa-thumbs-o-down.fa-2x{ id: 'dislike', class: voted(current_user, post, 'down') }
            .vote= post.get_dislikes.size

  #post-details
    #post-subject{'data-id' => post.id}
      = post.subject
    #post-content
      .postContent
        = raw RedCloth.new(post.content).to_html
      #right
        .rightCorner
#post-last-updated
  Last updated:
  = timeago_date_format(post.updated_at)

#post-attachment
  - unless post.attachments.blank?
    %h3 Attachments
    - post.attachments.each do |a|
      #attach-content
        - if a.post_content_type.split("/")[0] == "image"
          = link_to(image_tag(a.post.url(:thumb), title: a.post_file_name), a.post.url, target: "_blank")
        - else
          = link_to(image_tag("doc.png", title: a.post_file_name), a.post.url, target: "_blank")
    %br
#tag_head
  - unless post.tag_list.blank?
    %h3 Tags
    -# Added on 21st April 2012 by yatish to display tags
    -# Start
    #post-content
      - if current_user == post.user
        .postContent{post_id: post.id}
          - post.tag_list.each do |tag|
            %span#post-tag
              = tag
      - else
        .postContent
          - post.tag_list.each do |tag|
            %span#post-tag-els
              = tag
    -# End
%br

// Comments Section
- unless post.is_draft
  #comment_head
    %h3 Post Your Comment
    = render "comments/form", post: post
    %br
    %br
  = render "comments/comments", comments: post.comments.order("comments.updated_at DESC"), post: post
  %input#post_slug{ name: "post_slug", type: "hidden", value: post.slug }
