.block
  #search
    = form_tag '/posts/search', method: :get, remote: true,  class: :form do
      = text_field_tag :search, params[:search], autocomplete: "off", class: 'text_field'
      = submit_tag "Search"
.block
  %h3
    Tag Cloud
  #tag_cloud
    - if tag_cloud_hash != nil
      - tag_cloud_hash.each_pair do |tag,size|
        .tag_block
          .cloud_element
            = link_to tag.name.downcase, "#{related_tag_posts_path}?name=#{tag.name}", style: "font-size:#{size}px;", remote: true


.block
  %h3 Top Contributors
  %ul#top_contributer.navigation
    - top_contributors.each do |top|
      %li
        = user_link(top, top = true)

= render "contributors", users: users
