.block
  #search
    = form_tag '/posts/search', method: :get, class: :form do
      = text_field_tag :search, params[:search], autocomplete: "off", class: 'text_field'
      = submit_tag "Search"
.block
  %h3
    Tag Cloud
  #tag_cloud
    - if tag_cloud_hash != nil
      - tag_cloud_hash.each_pair do |tag,size|
        .tag_block
          .cloud_element= content_tag(:a, tag.name.downcase, {href: "#{related_tag_posts_path}?name=#{tag.name}", style: "font-size:#{size}px;"})
.block
  %h3 Top Contributors
  %ul.navigation
    - top3_contributors = User.top3
    - top3_contributors.each do |top|
      %li
        = link_to "#{top.display_name} (#{top.total})", user_posts_posts_path(user_id: top.id)

.block
  %h3 Contributors
  %ul.navigation#namelist
    - users.each do |user|
      %li= user_link(user)

  %div#paginator
    = paginate users, remote: true
