.block
  .secondary-navigation
  .content
    #new_kyu

    %h2.title
      = t("web-app-theme.all", default: "All")
      Posts
    .inner
      %table.table
        %tr
          %th= t("web-app-theme.created_at", default: "")
          %th
            = t("activerecord.attributes.post.subject", default: t("activerecord.labels.subject", default: "Subject"))
          %th= t("web-app-theme.created_at", default: "Date")
          %th= t("web-app-theme.created_at", default: "Contributor")
        - @posts.each do |post|
          = render "entries", { post: post }
      .actions-bar.wat-cf
        .actions
        = paginate @posts, param_name: :page_2

.block2
  .block
    .new
      %h2.title
        Activities
      %table#activity
        = render 'activities', activities: @activities
    #view_more.bottom
      = view_more_activities_link(2)

- content_for :sidebar, render(partial: 'sidebar',
locals: {tag_cloud_hash: @tag_cloud_hash, users: @users })
