- user = kyu_entry.user
%tr{class: cycle("odd", "even")}
  %td
    = image_tag avatar_url(user, 45)
  %td
    = link_to truncate(kyu_entry.subject, length: 70), kyu_entry_path(kyu_entry)
  %td
    = link_to (timeago_date_format(kyu_entry.created_at)), kyu_entries_kyu_date_path(kyu_id: kyu_entry.id)
  %td
    - if user.name
      = link_to user.name.titleize, kyu_entries_user_kyu_path(user_id: kyu_entry.user_id)
    - else
      = link_to user.email, kyu_entries_user_kyu_path(user_id: kyu_entry.user_id)