.group
  = f.label :subject, t("activerecord.attributes.kyu_entry.subject", default: "Subject"), class: :label
  = f.text_field :subject, class: 'text_field validate[required] text-input'
.group
  = f.label :content, t("activerecord.attributes.kyu_entry.content", default: "Content"), class: :label
  = f.text_area :content, class: 'text_area validate[funcCall[checkContent]]', id: 'textarea_kyu_content'
.group
  = f.label :tag, class: :label
  = f.autocomplete_field :tag_list, autocomplete_tag_name_kyu_entries_path, :"data-delimiter" => ', ', class: 'text_field'
-# .group
-#   = f.label :publish_at, t("activerecord.attributes.kyu_entry.publish_at", default: "Publish Date"), class: :label
-#   = f.datetime_select :publish_at, class: 'datetime_select'
.group.navform.wat-cf
  %a.button{:href => "#", :rel => "facebox", :id => "previewlink", class: "text_button_padding link_button"} Preview
  %span.text_button_padding= t("web-app-theme.or", default: "")
  %button.button{type: "submit"}
    = image_tag("web-app-theme/icons/tick.png", alt: "#{t("web-app-theme.save", default: "Save")}")
    = t("web-app-theme.save", default: "Save")
  %span.text_button_padding= t("web-app-theme.or", default: "or")
  = link_to t("web-app-theme.cancel", default: "Cancel"), :back, class: "text_button_padding link_button"

