-# .block.notice
  -# %h3 Latest Posting
  -# .content
  -#  %p 
.block
  %h3 Contributors
  %ul.navigation
    - @users = User.all(:order => 'name')
    - @users.each do |user|
      %li
        = link_to user.name.capitalize, kyu_entries_path
.block
  %h3 Our Top 3 Contributors
  %ul.navigation
    - @top3_contributors = User.top3
    - @top3_contributors.each do |top|
      %li
        = link_to "#{top.name.capitalize} (#{top.total})", kyu_entries_path
#tag_cloud
  %h3
    Tag Cloud
  - if @tag_cloud_hash != nil
    - @tag_cloud_hash.each_pair do |tag,size|
      .cloud_element= content_tag(:a, tag.name.downcase, {:href => "#{related_tag_path}?name=#{tag.name}",:style => "font-size:#{size}px;"})
