-# .block.notice
  -# %h3 Latest Posting
  -# .content
  -#  %p
.block
  #search
    = form_tag '/kyu_entries/search', method: :get, class: :form do
      = text_field_tag :search, params[:search], autocomplete: "off", class: 'text_field'
      = submit_tag "Search"
.block
  %h3
    Tag Cloud
  #tag_cloud
    - if @tag_cloud_hash != nil
      - @tag_cloud_hash.each_pair do |tag,size|
        .tag_block
          .cloud_element= content_tag(:a, tag.name.downcase, {href: "#{related_tag_path}?name=#{tag.name}", style: "font-size:#{size}px;"})
.block
  %h3 Our Top 3 Contributors
  %ul.navigation
    - top3_contributors = User.top3
    - top3_contributors.each do |top|
      %li
        - if top.name
          = link_to "#{top.name.titleize} (#{top.total})", kyu_entries_path
        - else
          = link_to "#{top.email} (#{top.total})", kyu_entries_path
.block
  %h3 Contributors
  %ul.navigation
    - users = User.all(order: 'name')
    - users.each do |user|
      %li
        - if user.name
          = link_to user.name.titleize, kyu_entries_path
        - else
          = link_to user.email, kyu_entries_path

