.block
  .secondary-navigation
    %ul.wat-cf
      %li.first= link_to "#{t("web-app-theme.list", default: "List")}", kyu_entries_path
      %li= link_to "#{t("web-app-theme.new", default: "New")}", new_kyu_entry_path
      %li.active= link_to "#{t("web-app-theme.edit", default: "Edit")}", edit_kyu_entry_path(@kyu_entry)
  .content
    %h2.title
      = t("web-app-theme.edit", default: "Edit")
      Post
    .inner
      = form_for @kyu_entry, url: kyu_entry_path(@kyu_entry), html: { class: :form, id: "formID1" } do |f|
        = render 'form', f: f, kyu_entry: @kyu_entry
    #default_preview
/ Rohan commented out this below line of code. Check if its required. Looks like while editing we don't need 
/ to load the sidebar partial. Please check and rollback this if required.    
/ - content_for :sidebar, render(partial: 'sidebar', locals: {tag_cloud_hash: @tag_cloud_hash, users: @users})