.block
  .secondary-navigation
    %ul.wat-cf
  .content
    %h2.title
      All articles posted as on #{@kyu_entry.created_at.strftime('%d-%b-%Y')}
    .inner
      %table.table
        %tr
          %th= t("web-app-theme.created_at", default: "")
          %th
            = t("activerecord.attributes.kyu_entry.subject", default: t("activerecord.labels.subject", default: "Subject"))
          %th= t("web-app-theme.created_at", default: "Contributor")
        - @kyu.each do |kyu_entry|
          %tr{class: cycle("odd", "even")}
            %td
              = image_tag avatar_url(@user.find(kyu_entry.user_id), 45)
            %td
              = link_to truncate(kyu_entry.subject, length: 70), kyu_entry_path(kyu_entry)
            %td
              - if @user.find(kyu_entry.user_id).name
                = link_to @user.find(kyu_entry.user_id).name.titleize, kyu_entries_user_kyu_path(user_id: kyu_entry.user_id)
              - else
                = link_to @user.find(kyu_entry.user_id).email, kyu_entries_user_kyu_path(user_id: kyu_entry.user_id)
- content_for :sidebar, render(partial: 'sidebar')
