#kyu-post
  #kyu-header
    .contributor_pic
      = image_tag avatar_url(@kyu_entry.user, 70) 
    .postDetails
      -# = @kyu_entry.user.email
      %b On: 
      = @kyu_entry.publish_at.strftime('%d-%b-%Y')
  #kyu-details
    #kyu-subject
      = @kyu_entry.subject
    #kyu-content 
      .kyuContent
        = raw RedCloth.new(@kyu_entry.content).to_html 
      #right 
        .rightCorner  
%br
#kyu-edit-back-link
  = link_to 'Edit', edit_kyu_entry_path(@kyu_entry)
  \|
  = link_to 'Back', kyu_entries_path
