#kyu-post
  #kyu-header
    .contributor_pic
      = image_tag avatar_url(@kyu_entry.user, 70) 
    .postDetails
      -# = @kyu_entry.user.email
      %b On: 
      = @kyu_entry.publish_at.strftime('%d-%b-%Y')
  #kyu-details
    #kyu-subject
      = @kyu_entry.subject
    #kyu-content 
      .kyuContent
        = raw RedCloth.new(@kyu_entry.content).to_html
    -# Added on 21st April 2012 by yatish to display tags
    -# Start  
    #kyu-content 
      - if current_user == @kyu_entry.user
        .kyuContent{:kyu_id => @kyu_entry.id}
          - @kyu_entry.tag_list.each do |tag|
            %span#kyu-tag
              = tag
      - else
        .kyuContent
          - @kyu_entry.tag_list.each do |tag|
            %span#kyu-tag-els
              = tag
    -# End
      #right 
        .rightCorner  
%br
#kyu-edit-back-link
  - if current_user == @kyu_entry.user
    = link_to 'Edit', edit_kyu_entry_path(@kyu_entry)
    \|
  = link_to_function 'Back', 'history.back()'
