.block
  .secondary-navigation
    %ul.wat-cf
      %li
        %a{:href => "#"}= t("web-app-theme.list", default: "")
  .content
    %h2.title
      = t("web-app-theme.all", default: "All")
      KYU's
    .inner
      %table.table
        %tr
          %th= t("web-app-theme.created_at", default: "")
          %th
            = t("activerecord.attributes.kyu_entry.subject", default: t("activerecord.labels.subject", default: "Subject"))
          %th= t("web-app-theme.created_at", default: "Date")
          %th= t("web-app-theme.created_at", default: "Contributor")
        - @kyu.each do |kyu_entry|
          %tr{class: cycle("odd", "even")}
            %td
              = image_tag avatar_url(@user.find(kyu_entry.user_id), 45)
            %td
              = link_to truncate(kyu_entry.subject, length: 70), kyu_entry_path(kyu_entry)
            %td
              = link_to kyu_entry.created_at.strftime('%d-%b-%Y'), kyu_entries_kyu_date_path(:id => kyu_entry.id)
            %td
              - if @user.find(kyu_entry.user_id).name
                = @user.find(kyu_entry.user_id).name.titleize
              - else
                = @user.find(kyu_entry.user_id).email
- content_for :sidebar, render(partial: 'sidebar')
