%table
  %tr
    %th Posts Entry ID:
    %td= @post.id

  %tr
    %th Subject:
    %td= @post.subject

  %tr
    %th Content:
    %td= @post.content

  %tr
    %th Publish At:
    %td= @post.publish_at

  %tr
    %th Slug:
    %td= @post.slug

  %tr
    %th Deleted At
    %td= @post.deleted_at